<?xml version=" 1.0" encoding="utf-8"?>
<packages>
  <package id="7-taskbar-tweaker">
  <package id="7zip.commandline">
  <package id="ag">
  <package id="autohotkey.install">
  <package id="cmder">
  <package id="colormania">
  <package id="dropbox">
  <package id="Evernote">
  <package id="Firefox">
  <package id="fsviewer">
  <package id="git.install">
  <package id="google-chrome-x64">
  <package id="chocolatey">
  <package id="intellijidea-community">
  <package id="jdk8">
  <package id="kdiff3">
  <package id="keepass.install">
  <package id="lockhunter">
  <package id="mRemoteNG">
  <package id="mysql">
  <package id="nodejs.install">
  <package id="notepadplusplus.install">
  <package id="openvpn">
  <package id="PDFXChangeViewer">
  <package id="PyCharm-community">
  <package id="skype">
  <package id="totalcommander">
  <package id="vagrant">
  <package id="vcredist2013">
  <package id="vim">
  <package id="virtualbox">
  <package id="winrar">
  <package id="winscp.install">
  <package id="wizmouse">
  <package id="wunderlist">
  <package id="zeal.install">
</packages>
