[/]
position-in-panel='Left'
pinned-app-list=['Google Chrome', 'google-chrome', 'google-chrome.desktop', 'Terminal', 'utilities-terminal', 'org.gnome.Terminal.desktop', 'Arc Menu Settings', 'emblem-system-symbolic', 'gnome-shell-extension-prefs arc-menu@linxgem33.com']
menu-height=578
show-suspend-button=true
menu-border-size=0
enable-large-icons=false
menu-color='rgb(68,61,58)'
menu-layout='Runner'
menu-font-size=11
menu-arrow-size=4
gap-adjustment=-1
menu-button-appearance='Icon'
reload-theme=false
menu-corner-radius=3
runner-position='Centered'
vert-separator=false
show-pictures-shortcut=false
show-bookmarks=true
show-music-shortcut=false
show-videos-shortcut=false
enable-pinned-apps=true
enable-custom-arc-menu=true
menu-button-color='rgb(186,189,182)'
menu-hotkey='Super_L'
menu-margin=0
show-terminal-shortcut=false
show-computer-shortcut=false
button-icon-padding=0
custom-menu-button-text='^'
menu-foreground-color='rgb(238,238,236)'
show-external-devices=false
menu-width=298
separator-color='rgb(136,138,133)'
border-color='rgb(68,61,58)'
enable-custom-arc-menu-layout=true
show-documents-shortcut=false
custom-menu-button-icon-size=18.0
highlight-color='rgba(238, 238, 236, 0.1)'
menu-button-icon='System_Icon'
