<?xml version=" 1.0" encoding="utf-8"?>
<packages>
  <package id="7-taskbar-tweaker">
  <package id="7zip.commandline">
  <package id="Evernote">
  <package id="Firefox">
  <package id="ag">
  <package id="autohotkey.install">
  <package id="azure-cli">
  <package id="cmder">
  <package id="colormania">
  <package id="dropbox">
  <package id="fiddler">
  <package id="fsviewer">
  <package id="fzf">
  <package id="git.install">
  <package id="google-chrome-x64">
  <package id="graphviz">
  <package id="hyper">
  <package id="keepass.install">
  <package id="lockhunter">
  <package id="mRemoteNG">
  <package id="neovim">
  <package id="nodejs.install">
  <package id="pandoc">
  <package id="php">
  <package id="powershell-core">
  <package id="ripgrep">
  <package id="sql-server-management-studio">
  <package id="sqlite">
  <package id="totalcommander">
  <package id="vagrant">
  <package id="vim">
  <package id="virtualbox">
  <package id="vscode">
  <package id="vsts-cli">
  <package id="winrar">
  <package id="winscp.install">
</packages>
