[/]
dot-style-unfocused='SEGMENTED'
show-appmenu=false
shortcut-previews=true
hotkeys-overlay-combo='TEMPORARILY'
dot-color-3='#5294e2'
taskbar-locked=true
group-apps-label-font-size=13
shift-click-action='LAUNCH'
dot-color-4='#5294e2'
focus-highlight-color='#eeeeee'
dot-color-unfocused-1='#5294e2'
dot-style-focused='SEGMENTED'
middle-click-action='LAUNCH'
stockgs-keep-dash=false
show-window-previews-timeout=800
tray-size=14
appicon-padding=6
hot-keys=false
group-apps-label-font-color='#dddddd'
group-apps-use-launchers=false
dot-color-unfocused-2='#5294e2'
leftbox-size=0
panel-size=32
group-apps=true
group-apps-label-font-weight='lighter'
group-apps-underline-unfocused=true
show-favorites=true
dot-color-unfocused-3='#5294e2'
dot-color-1='#5294e2'
group-apps-label-max-width=130
group-apps-use-fixed-width=true
show-showdesktop-button=false
shift-middle-click-action='LAUNCH'
dot-size=2
show-apps-icon-file=''
dot-color-unfocused-4='#5294e2'
dot-color-2='#5294e2'
appicon-margin=4
trans-use-custom-gradient=false
