snippet c
	class ${1:`vim_snippets#Filename("$1", "")`} {
		${0}
	}
snippet sout
	System.out.print(${0});

snippet psv
	public static void ${0}
snippet prsv
	private static void ${0}
snippet psf
	public static final ${0}
